html
	head
		title View all posts
		include ../style/pug/head-tags.pug
	body
		include ../style/pug/header.pug
		#backgroundShowPosts
			#containerShowPosts
				// - var keys = Object.keys(post.createdAt)
				.post
					h1 #{messages.title}
					h6 by #{messages.user.username}
					p #{messages.content}
				.commentbox
					each comment in comments
						if comment.messageId == messages.id
							.comment
								h6 #{comment.user.username}
								p #{comment.content}
					if user
						form(action="/postcomment/"+messages.id method="post" class="commentform")
							input(type="text" name="comment" class="inputfield")
							input#btn3(type="submit" value="comment" name="commenting")
					else
						.post
							h1 You gotta log in first before you can comment, y'feel me?
							form(method="get" action="/login")
								button#btn2(type="submit" value="login" name="redirect") Log in
				

		script.
			console.log("#{messages.user.username}")
			console.log("#{keys}")